<!--Checkout Interface -->
{% extends 'base.html' %}

{% block title %}Checkout{% endblock %}

{% block navigation %}
<li class="nav-item">
    <a class="nav-link" href="/cart">Cart</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/">Menu</a>
</li>
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-5">Checkout</h1>
    <table class="table mt-3">
        <!-- Display the cart items being checked out. -->
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Customizations</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for item_key, item in cart_items.items() %}
            <!-- Loops through each item in the cart_items dictionary passed from the route. -->
            <tr>
                <td>{{ item.item_name }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    {% if item.non_default_customizations|length > 0 %}
                    <!-- Checks non-default customizations for the item. -->
                    {% for customization, detail in item.non_default_customizations.items() %}
                        {{ customization }}: {{ detail }}<br>
                    {% endfor %}
                    {% else %}
                        Standard Options
                    {% endif %}
                </td>
                <td>${{ '%0.2f' | format(item.item_total_price) }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th colspan="3">Total</th>
                <th>${{ '%0.2f' | format(total) }}</th>
            </tr>
        </tfoot>
    </table>
    <div class="text-right">
        <button class="btn btn-primary">Confirm Order</button>
    </div>
</div>
{% endblock %}
